.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.error {
  color: red;
}

.success {
  color: green
}

.menuStyle {
  background-color: gainsboro;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.padding {
  padding-right: 5px;
}